body{
  background-color: rgb(42, 41, 41);
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-family: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: greenyellow;
}
.add-button:hover{
  background-color: green;
}
.delete-button{
  background-color: rgb(211, 61, 61);
}
.delete-button:hover{
  background-color: red;
}
.move-button{
  background-color: rgb(68, 68, 203);
}
.move-button:hover{
  background-color: blue;
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(151, 148, 148);
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid rgb(145, 136, 136);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
